# Лабораторная работа 3.2 часть 1

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

%matplotlib inline

In [62]:
df = pd.read_csv('Titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Задание 1

Удалить строки с пропусками

In [63]:
df_cleaned = df.dropna()

Удалить нечисловые столбцы, кроме 'Sex' и 'Embarked'

In [64]:
non_numeric_cols = df_cleaned.select_dtypes(include=['object']).columns
cols_to_drop = [col for col in non_numeric_cols if col not in ['Sex', 'Embarked']]
df_cleaned = df_cleaned.drop(columns=cols_to_drop)

Перекодировать Sex и Embarked

In [65]:
df_cleaned['Sex'] = df_cleaned['Sex'].map({'male': 0, 'female': 1})
embarked_mapping = {'S': 1, 'C': 2, 'Q': 3}
df_cleaned['Embarked'] = df_cleaned['Embarked'].map(embarked_mapping)

Удалить PassengerId

In [66]:
if 'PassengerId' in df_cleaned.columns:
    df_cleaned = df_cleaned.drop(columns=['PassengerId'])

Процент потерянных данных

initial_len = len(df)
final_len = len(df_cleaned)
loss_percent = (initial_len - final_len) / initial_len * 100
print(f"Процент потерянных данных: {loss_percent:.2f}%")

## Задание 2

Разделение данных

In [67]:
X = df_cleaned.drop(columns=['Survived'])
y = df_cleaned['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

Обучение логистической регрессии

In [68]:
clf = LogisticRegression(random_state=0, max_iter=1000)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)
print("Точность модели:", accuracy_score(y_test, y_pred))

Точность модели: 0.7027027027027027

### Влияние Embarked

Удалим Embarked и проверим точность

In [69]:
X_no_embarked = X.drop(columns=['Embarked'])
X_train2, X_test2, y_train2, y_test2 = train_test_split(X_no_embarked, y, test_size=0.2, random_state=42)

clf2 = LogisticRegression(random_state=0, max_iter=1000)
clf2.fit(X_train2, y_train2)

y_pred2 = clf2.predict(X_test2)
print("Точность модели без Embarked:", accuracy_score(y_test2, y_pred2))

Точность модели без Embarked: 0.7297297297297297

Точность изменилась почти на 4%, значит этот признак оказал не сильное влияние